
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-dialog-container {
    overflow: hidden;
    border-radius: 15px;
    background-color: rgb(88, 127, 170);
}