<div class="mainContainer">

    <div class="background"></div>

    <mat-card appearance="outlined" class="card1" (click)="openDialog()">
        <mat-card-content>

            <div>
                <p>PASSENGER 1 DETAILS</p>
            </div>

        </mat-card-content>
    </mat-card>





    <mat-card appearance="outlined" class="cardDetails">
        <mat-card-content>
            <div>
                <p class="tripDetails">=== Trip Details ===</p>
                <p class="returnTrip">• Return trip •</p>
                <hr>
                <div class="departSec">
                    <p class="departDetails">{{departureAirport}} to {{arrivalAirport}}</p>
                    <p class="departDeate">{{departDate}}</p>
                </div>
                <hr>
                <div class="returnSec">
                    <p class="returnDetails">{{arrivalAirport}} to {{departureAirport}}</p>
                    <p class="returnDate">{{arriveDate}}</p>
                </div>
                <div>
                    <hr>
                    <mat-checkbox (change)="calculateUpdatedBaggaePrice($event)">Extra Baggage</mat-checkbox>
                    <br>
                    <mat-checkbox (change)="calculateUpdatedMealPrice($event)">Special Meal</mat-checkbox>

                    <hr>
                </div>

                <div class="grandTotalPart">
                    <p>Grand Total</p>
                    <p>${{totalPrice}}</p>
                </div>
                <div class="buttonDiv">
                    <button class="button" (click)="confirmTicket()">
                        <p>Confirm Ticket</p>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <!-- </mat-grid-tile>
</mat-grid-list> -->

</div>